body {
  font-family: sans-serif;
  padding: 10px;
  width: 300px;
}

h2 {
  margin-top: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

button {
  margin-right: 5px;
  padding: 5px;
}